In [10]:
#importimi i librarive 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#from mlxtend.preprocessing import minmax_scaling
from sklearn.preprocessing import StandardScaler


pd.options.mode.chained_assignment = None  # default='warn'
from datetime import datetime

In [17]:
#importimi i datasetit
hotelbookingDS = pd.read_csv(r"C:\Users\leand\Documents\FIEK\Master\Semester-1\PVDH\Projekti\dataset\hotel_bookings.csv")
hotelbookingDS = hotelbookingDS[(hotelbookingDS['is_canceled'] == 1) | (hotelbookingDS['is_canceled'] == 0)]
hotelbookingDS.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [18]:
#Pritnimi i atributeve e datasetit
print(hotelbookingDS.columns)

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [19]:
#analiza e vlerave ne dataset
hotelbookingDS.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 30.1+ MB

In [20]:
#analiza e vlerave unike
print(hotelbookingDS.nunique())

hotel                                2
is_canceled                          2
lead_time                          479
arrival_date_year                    3
arrival_date_month                  12
arrival_date_week_number            53
arrival_date_day_of_month           31
stays_in_weekend_nights             17
stays_in_week_nights                35
adults                              14
children                             5
babies                               5
meal                                 5
country                            177
market_segment                       8
distribution_channel                 5
is_repeated_guest                    2
previous_cancellations              15
previous_bookings_not_canceled      73
reserved_room_type                  10
assigned_room_type                  12
booking_changes                     21
deposit_type                         3
agent                              333
company                            352
days_in_waiting_list               128
customer_type                        4
adr                               8879
required_car_parking_spaces          5
total_of_special_requests            6
reservation_status                   3
reservation_status_date            926
dtype: int64

In [21]:
#Marrja e nje monstre nga dataseti
hotelbookingDS.sample(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
42788,City Hotel,1,44,2015,September,37,10,0,2,2,...,Non Refund,41.0,NaN,0,Transient,126.00,0,0,Canceled,2015-08-17
13673,Resort Hotel,1,0,2017,August,34,26,0,1,2,...,No Deposit,NaN,NaN,0,Transient,235.00,0,0,Canceled,2017-08-26
19571,Resort Hotel,0,28,2015,December,52,25,0,2,1,...,No Deposit,15.0,NaN,0,Transient,25.00,0,1,Check-Out,2015-12-27
78673,City Hotel,0,2,2015,October,42,12,1,1,1,...,No Deposit,NaN,46.0,0,Transient,0.00,0,0,Check-Out,2015-10-14
69642,City Hotel,1,348,2017,June,22,3,2,1,2,...,Non Refund,6.0,NaN,0,Transient,90.00,0,0,Canceled,2017-05-16
49521,City Hotel,1,78,2016,April,16,14,0,3,2,...,No Deposit,9.0,NaN,0,Transient,168.30,0,0,Canceled,2016-01-30
101033,City Hotel,0,46,2016,November,45,3,0,3,3,...,No Deposit,9.0,NaN,0,Transient,129.60,0,2,Check-Out,2016-11-06
80971,City Hotel,1,25,2015,November,49,30,9,24,2,...,No Deposit,NaN,NaN,0,Transient,98.33,0,0,Canceled,2015-11-30
46120,City Hotel,0,2,2015,December,50,11,0,1,2,...,No Deposit,9.0,NaN,0,Transient,94.00,1,0,Check-Out,2015-12-12
106159,City Hotel,0,21,2017,February,8,19,2,1,2,...,No Deposit,83.0,NaN,0,Transient,72.00,0,0,Check-Out,2017-02-22

In [22]:
# Numri i rezervimeve per cdo vit
hotelbookingDS.arrival_date_year.value_counts(ascending = False)

2016    56707
2017    40687
2015    21996
Name: arrival_date_year, dtype: int64

In [ ]:
#Anulimi i rezervimeve varesisht nga viti
hotelbookingDS.